<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EzPass_Prototype_1.My.MySettings.EzPassDataBaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\surfacepro3\Desktop\EzPass Prototype\EzPassDataBase.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="EzPass_Prototype_1.My.MySettings.EzPassServerConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\surfacepro3\Desktop\EzPassServer.accdb"
            providerName="System.Data.OleDb" />
        <add name="EzPass_Prototype_1.My.MySettings.EzPassServerConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\EzPassServer.accdb"
            providerName="System.Data.OleDb" />
        <add name="EzPass_Prototype_1.My.MySettings.EzPassServerConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\surfacepro3\Desktop\EzPass Prototype 2\EzPass Prototype\EzPassServer.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="EzPass_Prototype_1.My.MySettings.EzPassServerConnectionString3"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\surfacepro3\Desktop\EzPass Prototype Final\EzPassServer.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="EzPass_Prototype_1.My.MySettings.EzPassCustomerDataConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\surfacepro3\Desktop\EzPass Prototype Final\EzPassCustomerData.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="EzPass_Prototype_1.My.MySettings.EzPassCustomerSystemConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\surfacepro3\Desktop\EzPass Prototype Final\EzPassCustomerSystem.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="EzPass_Prototype_1.My.MySettings.EzPassCustomerSystemConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\przhe\Desktop\EzPass Prototype Final\EzPassCustomerSystem.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="EzPass_Prototype_1.My.MySettings.EzPassSystemData"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\EzPassCustomerSystem.mdb"
            providerName="System.Data.OleDb" />
        <add name="EzPass_Prototype_1.My.MySettings.EzPassSystemConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\surfacepro3\Desktop\EzPass Prototype Final\EzPass Prototype Final\EzPassSystem.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="EzPass_Prototype_1.My.MySettings.EzPassSystemDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\EzPassSystem.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>